<a href="https://colab.research.google.com/github/shallize/shallize/blob/main/PYTHON_FUNCTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**NAME:** SHALLIZE KHAYE V. WENCESLAO

**DATE:** OCTOBER 20, 2021

**4100E233**

In [6]:
def sum(i1, i2):
  result = 0
  for i in range(i1,i2):
    result += i
    return result

def main():
  print("Sum from 0 to 6 is", sum(0,7))
  print("Sum from 30 to 50 is", sum(31, 51))
  print("Sum from 55 to 65 is", sum(70, 75))

main() # Call the main function

Sum from 0 to 6 is 0
Sum from 30 to 50 is 31
Sum from 55 to 65 is 70

**SIMPLE TEST**

Please write a function sum(i1,i2,i3) that can do

sum(i1,i2,i3)

==> range(i1,i2,i3)

def sum(i1,i2,i3)

    -----your code

def main(): print("Sum1", sum(1, 11,2))
print("Sum2", sum(20, 38,3)) 
print("Sum3", sum(35, 50,5))

main() # Call the main function

sum(1, 11,2)= 1+3+5+7+9

sum(20, 38,3) = 20+23+26+29+32+35

sum(35, 50,5)= 35+40+45

sum2(20,  38,3)  =  20  +23  +26  +29+32+35+38

sum2(35, 50,5)= 35+40+45+50

In [7]:
2+3+4+6+9

24

In [8]:
def sum(i1,i2,i3):
  result = 0
  for i in range(i1,i2,i3):
     result += i
  return result

def main():
  print("Sum from 1 to 5 is", sum(2, 3,4))
  print("Sum from 15 to 25 is", sum(10, 15,20))
  print("Sum from 50 to 60 is", sum(55, 45, 35))

In [9]:
def swap(a,b):
  a,b = b,a
  return (a,b)

if __name__ == '__main__':
  x = 7
  y = 10
  print('x = %d,y = %d' % (x,y))
  x,y = swap(x,y)
  print('x = %d,y = %d' % (x,y))

x = 7,y = 10
x = 10,y = 7

In [10]:
def sort(number1, number2):
  if number1 < number2:
    return number1, number2
  else:
    return number2, number1

num1, num2 = sort(10, 26)

print("num1 is", num1)
print("num2 is", num2)

num1 is 10
num2 is 26

In [22]:
def sort(number1, number2, number3):
  if (number1 < number2) and (number1 < number3):
    if number2 < number3:
      return number1, number2, number3
    else:
        return number1, number3, number2
    if (number2 < number1) and (number2 < number3):
      if number1 < number3:
        return number2, number1, number3
      else:
          return number2, number3, number1
    if (number3 < number1) and (number3 < number2):
      if number1 < number2:
        return number3, number1, number2
      else:
        return number3, number, number1

num1, num2, num3  = sort(5, 6,8)

print("num1 is", num1)
print("num2 is", num2)
print("num3 is", num3)

num1 is 5
num2 is 6
num3 is 8

In [26]:
def sort(number1, number2, number3):
  if number1 < number2 < number3:
    return number1, number2, number3
  else:
    return number3, number2, number1

num1, num2, num3 = sort(10, 26,8)

print("num1 is", num1)
print("num2 is", num2)
print("num3 is", num3)

num1 is 8
num2 is 26
num3 is 10

In [27]:
#! /usr/bin/python
# -*- coding: UTF-8 -*-

def printArea(width = 50, height = 69):
  area = width * height
  print("width:", width, "\theight:", height, "\tarea:", area)

**USE DEFAULT ARGUMENTS**

In [28]:
printArea()

width: 50 	height: 69 	area: 3450

**USE KEYWORD ARGUMENTS**

In [30]:
printArea(width = 50, height = 69)

width: 50 	height: 69 	area: 3450

In [31]:
printArea(height = 69, width = 50)

width: 50 	height: 69 	area: 3450

**USE POSITIONAL ARGUMENTS**

In [32]:
printArea(50,69)

width: 50 	height: 69 	area: 3450

In [33]:
printArea(69,50)

width: 69 	height: 50 	area: 3450

In [34]:
fl = lambda x, y, z: x+2*y+3*z
print(fl(200,400,600))

2800

In [36]:
def myfunc(m):
  return m*m

my_list = [1, 3, 5, 7, 9, 11]

## python map()

print(list(map(lambda x:myfunc(x), my_list)))

[1, 9, 25, 49, 81, 121]